:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --section-grey-color: #f5f4fa;
  --footer-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo {
  color: #000000;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo.dark {
  color: var(--primary-white-color);
}

.logo .part-logo {
  color: var(--accent-color);
}

.logo:hover {
  color: var(--accent-color);
}
/* site nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.address .link-map:hover,
.address .link-map:focus,
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list {
  list-style: none;
}

/* hero */
.hero .title {
  color: var(--primary-white-color);
  background-color: tomato;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.hero .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* sections */
.section-title,
.caption {
  color: var(--title-text-color);
}

.advantages .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.business .caption,
.team .caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--section-grey-color);
}

.team .section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */
.footer {
  background-color: var(--footer-color);
}

.address .link.map {
  color: var(--primary-white-color);
}

.address .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* filter */
.filter .button {
  color: var(--title-text-color);
  background-color: var(--section-grey-color);
}

.filter .button:hover,
.filter .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* examples */
.examples .title {
  color: var(--title-text-color);
}
.examples .desc {
  color: var(--primary-text-color);
}
